# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
src/generated/.cache/
libs/Steam_Rails-1.5.3+forge-mc1.20.1.jar
libs/flywheel-forge-1.20.1-1.0.4.jar
